# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
.ipynb_checkpoints/
*.DS_Store
*/*.DS_Store
*.pyc
*.idea
temp/
data/
scripts/
.ssh